<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bakerysraul">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Pedidos"></activity>
        <activity android:name=".CalifGrafica" />
        <activity
            android:name=".DetallePedidos"
            android:parentActivityName=".PrincipalMenu" />
        <activity
            android:name=".Compras"
            android:parentActivityName=".PrincipalMenu" />
        <activity
            android:name=".CalifEmpresa"
            android:parentActivityName=".PrincipalMenu" />
        <activity
            android:name=".UserPerfil"
            android:parentActivityName=".PrincipalMenu" />
        <activity
            android:name=".HistorialPedidos"
            android:parentActivityName=".PrincipalMenu" />
        <activity
            android:name=".PrincipalMenu"
            android:label="PrincipalMenu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainRegistro"
            android:label="MainRegistro"
            android:parentActivityName=".PrincipalMenu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="MainActivity"
            android:parentActivityName=".PrincipalMenu"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>